.nav-item {
  padding: 0px 30px 0px 30px;
}

.btn-line-height {
  line-height: 32px;
}

.row {
  margin: 20px 0px 20px 0px;
}

.back-row {
  margin: 20px 0px 0px 0px;
}

.form-head {
  margin: 0px 0px 20px 0px;
}

.form-check {
  padding-top: 5px;
}

.form-group.row {
  margin: 0px;
}

.fas {
  padding: 0px 5px 0px 5px;
}

td {
  text-align: center !important;
}

th {
  text-align: center !important;
}

.col-5 {
  padding: 0px;
}

table td {
  position: relative;
}

table td input {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

footer {
  background: #f8f9fa !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #333;
  padding: 1rem 1rem;
}
